<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <form action="/auth/signup" method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  
  <label>
    <input type="radio" name="role" value="user" checked /> Regular User
  </label>
  <label>
    <input type="radio" name="role" value="coach" /> Coach
  </label>

  <button type="submit">Sign Up</button>
</form>



</body>

</html>