<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Add Your Service</h1>
<form action="/service" method="post">
 <label for="gameName">Game Name:</label>
<input id="gameName" name="gameName" type="text" value="<%= prefillGameName %>">

  <label>Years of Experience:</label>
  <input type="number" name="gameExperience" required min="0" />

  <label>Price per hour ($):</label>
  <input type="number" name="price" required min="0" step="0.01" />

  <label>Description:</label>
  <textarea name="description" required></textarea>

  <button type="submit">Add Service</button>
</form>


</body>
</html>