<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h2>Apply to Coach for <%= gameName %></h2>

<form action="/service" method="POST">
  <input type="hidden" name="gameName" value="<%= gameName%>"/>

  <label>Years Of Experience</label>
  <input type="number" name="yearsOfExperience" required />

  <label>Description</label>
  <textarea name="description" required></textarea>

  <label>Price per Session ($)</label>
  <input type="number" name="price" required />

  <button type="submit">Submit Coaching Service</button>
</form>


</body>
</html>