<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create a new service</h1>
    <form action="/service" method="post">

     <label for="gameName">Game Name:</label>
        <input id="gameName" name="gameName" type="text">

        <label for="gameExperience">Years of Expersience:</label>
        <input id="gameExperience" name="gameExperience" type="number">

        <label for=" price">Price per hour $:</label>
        <input name="price" id="price" type="number">

        <label for=" description"> Description:</label>
        <input name="description" id="description" type="text">

        <button type="submit"> Create Service</button>
    </form>
</body>
</html>