<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Show Coach details</h1>
        <p>Coach Name: <%= currentUser.details.name %></p>
        <p>Age: <%= currentUser.details.age %></p>
        <p>Description: <%= currentUser.details.description %></p>
        <a href="/coach/myDetails/<%= currentUser.details._id %>/edit">edit</a>
 
</body>
</html>